

@font-face {
    font-family: 'nimbus_sans_lregular';
    src:  url('NimbusSanL-Reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0%;    
}

html{
    margin:0;
    font-size: 10px;
    scroll-behavior:smooth;
    font-family:NimbusSanL-RegIta-webfont,sans-serif;
    width: 100%;
    overflow-x: hidden;
    color: black;
}
body{
  margin: 0;
  overflow-x: hidden;
}
#navbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 2.5rem;
    font-weight:400;
    position: fixed;
    color: #ffff;
    mix-blend-mode: difference;
    z-index: 5;
    justify-content: space-between;
}
#navbar a{
    text-decoration: none;
    text-align: center;
    color: currentColor;
    background-color: transparent;
    margin:0 1rem;
  
}
#name{
    justify-content: left;
    padding-top: 2rem;
    padding-left: 2rem;
 }
 #name-hidden{
     visibility: hidden;
     padding-top: 2rem;
     padding-left: 2rem;
     display: none;
 }
#navlinks{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
#navimg{
    display: flex;
    justify-content: right;
    padding-top: 2rem;
    padding-right: 2rem;
}
#navimg svg{
    height: 3rem;
    width: 3rem;
    justify-content: left;
}
#top-div{   
    display: flex;
    height: 40rem;
    background-color: white;
    animation:bottom-to-top 2s; 
    align-items: flex-end;
    padding-bottom: 2rem;
    width:100% ;
}
@keyframes bottom-to-top {
    0%{
        height: 100rem;
    }

    100%{
        height: 40rem;
    }

}

#top-div span{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 4px;
    width: 100%;
    overflow: hidden;

    background-size: 80%;
    animation: animate 7s linear 1;
    -webkit-background-clip: text;

  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
      background: linear-gradient(90deg, #000, #fff, #000);
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      background-size: 50%;
      -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    100% {
      background-position: 500%;
    }
  }
  #top-div span::after{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background-color: white !important;
    color:black !important;
  }
#about{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 60rem;
    background-image: url(images/assets/images/about-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    color: #fff;
    mix-blend-mode: difference;
    align-items: flex-end;
    padding: 2rem;
}
#about-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#about h1{
    font-size: 6rem;
    text-align:left;
    font-weight: 600;
    width: 100%;
    font-weight: 400;
    margin: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#about span{
    font-size: 3rem;
    width: 95%;
    font-weight: 300;
    padding: 4rem;
    padding-left: 0;
    padding-right: 0;
}
#resume {
    margin-top: 2rem;
    text-decoration: none;
    display: flex;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#resume-button{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


#resume-img{
    width: 5rem;
    height: 5rem;
}
#resume span{
    margin-left: 6rem;
    align-items: center;
    color: #fff;
    mix-blend-mode: difference;
    text-decoration: none;

}
#resume-button span{
    padding: 0%;
    margin-left: 2rem;
}
#services{
    background-color: white;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#service-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#services h1{
    text-align: center;
    color: white;
    mix-blend-mode: difference;
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 30rem;
    width: 100%;
}
#services span{
    display: block;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}
.grp1{
    display: flex;
    flex-direction:row;

    justify-content: space-evenly;
    margin-bottom: 2rem;
    
}
.grp2{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    
}
.clip{
    width: 60rem;
    height: 60rem;
}
figcaption{
    text-align: center;
    font-size: 1.7rem;
}
#services-2{
    background-color: white;
    padding-top: 40rem;
    padding-right: 50rem;
    padding-left: 5rem;
    text-align: left;
    padding-bottom: 3rem;
    background-image: url(images/assets/images/business-3d.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
#services-2 span{
  font-family: sans-serif;
}
#services-2 span span{
  font-family: "Helvetica Now Display";
  font-size: 3rem;
}
#quote{
    font-size: 5rem;
    width: 60% ;
}
#skills{
    margin: 0%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height:70rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
    color: white;
    align-items:flex-end


}
.skills-heading{
    font-size: 6rem;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}
#skills-image img {
width: 45vw;
height: 70vw;
}
#skills-grp-wrapper{
    display: flex;
    flex-direction: column;
    border-left: white solid;
    justify-content: center;
    border-width: 1vw;
    padding: 6vw;
}
#skills-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content:center;
}
#skills-image-big{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width:100%;
    justify-content: right;
    align-items:flex-start;
    padding-left: 2vw;
    padding: 0rem;
    background-image: url(images/assets/images/can\ be\ skills.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    
}


.skills-img{
    width: 12vw;
    margin: 2vw;
    margin-bottom: 0vw;
}
#grp-skills-1{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    
}
#grp-skills-2{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    
}
.skills-caption{
    margin: 0%;
}
.skills-caption{
    width: 100%;
}
#projects{
    background-color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#projects h1{
      text-align: center;
      font-size: 7rem;
      margin-bottom: 2rem;
}
.clip-mkv{
    width: 60rem;
    height: 30rem;
    border: solid rgb(153, 153, 153);
    border-width: 5px;
}
#contact{
    background-color: black;
    color: white;
    height:max-content;
    padding: 5rem;
    padding-left:15rem;
    display: flex;
    flex-direction: row;
}
#contact-wrapper{
    width: 70%;
}
#contact-heading{
    font-size: 3rem;
    margin: 2rem 0rem;
}
#contact-heading-sub{
    font-size: 4rem;
}
#contact p{
    width: 70%;
    font-size: 2rem;
    margin: 2rem 0rem;
}
form{
    display: flex;
    flex-direction:column;
}
form label{
    padding:2vw 0rem;

}
#name-contact{
    width: 30rem;
    height: 4rem;
}
#email{
    width: 30rem;
    height: 4rem;
}
#message{
    width: 50rem;
    height: 15rem;
    align-items: center;
}
form button{
    width:15rem;
    height: 6rem;
    font-size: 1.5vw;
    font-family: "Helvetica Now Display";
    font-weight: 700;
    overflow: hidden;
    background: black;
    color: white;
    border:Turquoise solid;
}
.input-form{
    border:4rem;
    border-right: solid Turquoise;
    border-bottom: solid Turquoise;
    margin-bottom: 2vw;
}
#social{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
#social-text{
    font-size: 3rem;
    color: white;
}
#wrapper img{
    width: 5rem;
    margin: 1rem;
}
#madeby{
    background-color: black;
    color: white;
    text-align: center;
}
#madeby{
    padding: 2rem;
}
#madeby span{
    font-size: 2rem;
    padding: 2rem;
}
@media screen and (max-width:1086px){
    #navbar{
        width: 100%;
        position: fixed;
    }
    #navimg{
        display: none;
    }
    #top-div{
        height: 65vw;
    }
    #top-div span{
        font-size: 2vw;
    }
    #about{
        height: max-content;
    }
    #about h1{
        font-size: 6.5vw;
        margin: 0;
        padding-left: 5vw;
    }
    #about span{
        font-size: 2.5vw;
        padding: 5vw;
        margin: 0%;
    }
    #resume-button span{
        padding: 0%;
        margin-left: 2rem;
    }
    #resume{
        margin: 0;
    }
    #resume-img{
        width: 5vw;
        height: 5vw;
        margin-left: 4vw;
    }
    .clip{
        width: 40vw;
        height: 40vw;
    }
    figcaption{
        text-align: center;
        font-size: 1.9vw;
    }
    #services h1{
        font-size: 10vw;
        margin-top: 30vw;
    }
    #services span{
        font-size: 4vw;
    }
    #services-2{
        display:flex;
        background-color: white;
        padding-top: 20vw;
        padding-right: 10vw;
        padding-left: 5vw;
        text-align: left;
        padding-bottom: 3vw;
        height: 50vw;
        align-items: flex-end;
    }
    #services-2 span{
      font-family: sans-serif;
    }
    #services-2 span span{
      font-family: "Helvetica Now Display";
      font-size: 3vw;
    }
    #quote{
        font-size: 4vw;
        width: 60% ;
    }
    .skills-heading{
        font-size: 6vw;
        text-align: center;
        width: 100%;
        margin-bottom: 3vw;
    }
    .clip-mkv{
        width: 40vw;
        height: 25vw;
    }
    #projects h1{
        font-size: 6vw;
 
    }
    #projects{
        padding-top: 4vw;
        display: flex;
       flex-direction: column;
        align-items: center;
    }
    #project-wrapper{
        width: 100%;
    }
    #contact{
        padding: 5vw;
        padding-top: 9vw;
    }
    #contact-heading {
        font-size: 5vw;
    }
    #contact-heading-sub {
        font-size: 7vw;
    }
    #contact p{
    width: 80%;
    font-size: 3vw;
    }
    #name-contact {
        width: 36vw;
        height: 4vw;
    }
    #email {
        width: 36vw;
        height: 4vw;
    }
    #message {
        width: 50vw;
        height: 15vw;
        align-items: center;
    }
    #social-text {
        font-size: 4vw;
    }
    #wrapper img {
        width: 7vw;
        margin: 1vw;
    }
    form button {
        width: 17vw;
        height: 6vw;
    }
    #skills{
        height:max-content; 
    }

}
@media screen and (max-width:820px){
    #navbar{
        width: 100%;
        font-size: 4vw;
        position: fixed;
    }
    #name{
        display: none;
    visibility: hidden; 
   }
   #name-hidden{
       display: flex;
       visibility: visible;
   }
    #navimg{
        display: none;
    }
    #top-div span{
        font-size: 2.5vw;
    }

    #madeby span{
      
        font-size: 3vw;
    }
    
}
@media screen and (max-width:440px){
  
   
    #top-div span{
        font-size: 3.5vw;
    }
  
}
